<div>
    <nav style="display: flex; justify-content: center; align-items: center;">
    <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
        <li style="margin: 0 10px;"><a href="/signup">Signup</a></li>
        <li style="margin: 0 10px;"><a href="/login">Login</a></li>
        <li style="margin: 0 10px;"><a href="/products">Products</a></li>
        <li style="margin: 0 10px;"><a href="/cart">Cart</a></li>
        <li style="margin: 0 10px;"><a href="/chat">Chat</a></li>
        <li style="margin: 0 10px;"><a href="/logout">Logout</a></li>


    </ul>
</nav>



{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}}

    <div class="chat-container">

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
    />
    <button id="send">Enviar</button>

    <a href="/api/sessions/githubcallback"><button id="github">Ingresar con Github</button></a>


</div>

</div>

