/* Estilos para Toastr */
.toast {
    background-color: #ffe4e4;
    border: 1px solid #ffa5a5;
    border-radius: 4px;
    color: #c63c3c;
    max-width: 600px;
    padding: 10px;
    text-align: center;
}

/* Estilos para el botón de cierre en las notificaciones */
.toast-close-button {
    color: #c63c3c;
    font-weight: bold;
}
